.swiper {
  height: 100%;
  padding: 0 45px 50px 45px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 15px !important;
}
