/* 캘린더 전체 크기 설정 */
.fc {
  height: calc(100% - 25px);
  background: #f8f8f8;
}

/* 캘린더 상단 월, 화살표 폰트 설정 */
.fc .fc-toolbar .fc-header-toolbar {
  font-size: 15px;
  font-weight: 600;
}

/* 제목과 화살표 사이의 간격 설정 */
.fc-toolbar {
  color: #121212;

  gap: 30px;
  justify-content: center !important;
}

/* 캘린더 테두리 설정 */
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-daygrid-day-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 월~일 텍스트 설정 */
.fc-col-header-cell-cushion {
  color: #121212;
  font-size: 22px;
  font-weight: 600;
}

/* 몇일 텍스트 설정 */
.fc-daygrid-day-number {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #121212;
  font-size: 22px;
  font-weight: 400;
  width: 54px;
  height: 54px;
}

.fc-daygrid-day {
  height: 90px;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #f8f8f8 !important;
}

.fc-h-event {
  border: none;
  background-color: #f8f8f8 !important;
}

/* 몇일 자리 중앙 정렬 */
.fc-daygrid-day-top {
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.fc-daygrid-day-top:hover {
  background-color: #0046a3;
  opacity: 30%;
  border-radius: 50%;
}

/* 날짜 숫자 호버 시 텍스트 색상 변경 */
.fc-daygrid-day-top:hover .fc-daygrid-day-number {
  color: #f8f8f8 !important;
}

/* 선택된 날짜의 텍스트 색상 */
.fc-daygrid-day-top.selected-date .fc-daygrid-day-number,
.fc-daygrid-day-top.selected-date:hover .fc-daygrid-day-number {
  color: #f8f8f8 !important;
}

/* 선택된 날짜 스타일 - 더 높은 우선순위로 설정 */
.fc-daygrid-day-top.selected-date,
.fc-daygrid-day-top.selected-date:hover {
  background-color: #0046a3;
  opacity: 100%;
  border-radius: 50%;
  font-weight: bold;
}

/* 좌우 화살표 */
.fc .fc-button {
  background-color: #f8f8f8 !important;
  color: #333333;
  opacity: 0.8;
  font-size: 30px;
  border: none;
  padding: 0;
  padding-bottom: 6px !important;

  transition:
    transform 0.2s ease-in-out,
    color 0.2s;
  transform-origin: center center;
}

.fc .fc-button:hover .fc-icon {
  transform: scale(1.5);
  display: inline-block;
}

/* 좌우 화살표 호버 시 */
.fc .fc-button:hover {
  color: #121212 !important;
  transform: scale(1.5);
}

/* 좌우 화살표 포커스된 상태 테두리 없앰 */
.fc .fc-button-primary:focus {
  border: none !important;
  box-shadow: none !important;
}

/* 포커스 상태에서 테두리 없애기 */
.fc .fc-button:focus {
  background-color: transparent;
}
