@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .store_box {
    @apply border-underline h-[540px] w-[340px] rounded-lg border border-opacity-20 bg-white shadow-xl;
  }
}

@layer utilities {
  .social_button {
    @apply h-[60px] w-[620px] text-xl font-medium;
  }
}

@layer utilities {
  .soft_TcolorSet {
    @apply text-primary/50 hover:text-primary_hover;
  }
}

@layer utilities {
  .deep_TcolorSet {
    @apply text-primary hover:text-primary_hover;
  }
}

@layer utilities {
  .soft_BcolorSet {
    @apply bg-button/50 hover:bg-button_hover;
  }
}

@layer utilities {
  .deep_BcolorSet {
    @apply bg-button hover:bg-button_hover;
  }
}

@layer utilities {
  .choice_button {
    @apply bg-button hover:bg-button_hover h-[34px] w-[96px] self-center rounded-2xl text-xl text-white;
  }
}

@layer utilities {
  .delete_button {
    @apply bg-red/70 hover:bg-red h-[34px] w-[96px] self-center rounded-2xl text-xl text-white;
  }
}

@layer utilities {
  .no_hover {
    pointer-events: none;
    @apply text-gray-400/50;
  }
}
