@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 네비게이션 화살표 색상 커스텀 */
.swiper-button-next,
.swiper-button-prev {
  color: #333333 !important;
  top: 40% !important;
}

/* 페이지네이션 색상 커스텀 */
.swiper-pagination-bullet {
  background: #004aad !important;
  opacity: 0.5 !important;
  width: 18px !important;
  height: 18px !important;
}

/* 활성화된 페이지네이션 색상 */
.swiper-pagination-bullet-active {
  background: #004aad !important;
  opacity: 1 !important;
}

@layer utilities {
  .store_box {
    @apply h-[540px] w-[340px] rounded-lg border border-underline border-opacity-20 bg-white shadow-xl;
  }
}

@layer utilities {
  .social_button {
    @apply h-[60px] w-[620px] text-xl font-medium;
  }
}

@layer utilities {
  .soft_TcolorSet {
    @apply text-primary/50 hover:text-primary_hover;
  }
}

@layer utilities {
  .deep_TcolorSet {
    @apply text-primary hover:text-primary_hover;
  }
}

@layer utilities {
  .soft_BcolorSet {
    @apply h-[45px] rounded-3xl bg-button/70 text-[18px] font-semibold text-white hover:bg-button_hover;
  }
}

@layer utilities {
  .deep_BcolorSet {
    @apply bg-button hover:bg-button_hover;
  }
}

@layer utilities {
  .choice_button {
    @apply h-[34px] w-[96px] self-center rounded-2xl bg-button text-xl text-white hover:bg-button_hover;
  }
}

@layer utilities {
  .delete_button {
    @apply h-[34px] w-[96px] self-center rounded-2xl bg-red/70 text-xl text-white hover:bg-red;
  }
}

@layer utilities {
  .no_hover {
    pointer-events: none;
    @apply text-gray-400/50;
  }
}
